<div class='modal fade' id={{modalName}} tabindex='-1' role='dialog' aria-labelledby={{modalLabel}}>
  <div class='modal-dialog' role='document'>
    <div class='modal-dialog modal-lg'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h4 class='modal-title' id={{modalLabel}}>{{Title}}</h4>
        </div>
        <div class='modal-body'>
          {{Body}}
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default' data-dismiss='modal'>Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
