#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5000;
}

#pano {
  width: 640px;
  height: 480px;
}
/*.uniformLinks li a{

  text-decoration: none;
}*/

#myModalLabel{
  text-align: center;

}
